@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all ,2s linear;
}


:root{
    --primary: #a4916d;
    --black: #000;
    --white: #fff;
    --light-black:#666;
    --hover: rgba(244,244,244,0.8) ;
    --bg: #f9f9f9;
    --border:0.1rem solid rgba(0,0,0,0.1);
    --box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --button: linear-gradient(to right,#bbd2c5, #536976);
}



html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html:: ::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--button);
    border-radius: 5rem;
}

/* CLASSES COMUNS*/


/* CLASSES COMUNS FIM*/