@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    /* transition: all ,2s linear; */
}


:root{
    --primary: #c24682;
    --black: #000;
    --white: #fff;
    --light-black:#666;
    --hover: rgba(244,244,244,0.8);
    --bg: #f9f9f9;
    --border:0.1rem solid rgba(0,0,0,0.1);
    --box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --button: linear-gradient(to right,#bbd2c5, #c24682);
}



html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 0.8rem;
}


html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--button);
    border-radius: 5rem;
}

/* CLASSES COMUNS*/
section{
    padding: 5rem 7%;
}

.heading{
    font-size: 4rem;
    font-weight: bolder;
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.btn {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    color: var(--white);
    background: var(--button);
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%,7% 47%, 13% 0%);
}
.btn:hover{
    background: linear-gradient(to left, #bbd2c5, #536976);
    letter-spacing: 1.5px;
}

/* CLASSES COMUNS FIM*/

/** HEADER **/
.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2rem 5%;   
    z-index: 1000; 
}

.header .logo img{
    max-width: 8.7vw;
    height: auto;
    
}

/* .header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
    text-transform: uppercase;
}

.header .logo i{
    color: var(--primary);
    padding-right: .5rem;
} */

.header .navbar a{
    font-size: 1.9rem;
    font-weight: 400;
    color: var(--black);
    margin: 1rem;

}

.header .navbar a:hover{
    color: var(--primary);
}

.header .navbar .active {
    color: var(--primary);
    font-weight: 600;
}

.header .icons div{
    font-size: 2.5rem;
    margin-left: 1.7rem;
    color: var(--white);
    -webkit-text-stroke: .1rem var(--primary);
    cursor: pointer;
}
.header .icons hover{
    color: var(--primary);
}

#menu-bar{
    display:none
}
.header .search{
    position: absolute;
    top: 110%;
    right: -110%;
    /* right: 0; */
    background: var(--white);
    color: var(--black);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    width: 30rem;
    border-radius: .5rem;
}

.header .search.active {
    right: 2rem;
    transition: .2s linear;
}

.header .shopping-cart {
    position: absolute;
    top: 110%;
    right: -110%;
    /* right: 0; */
    background: var(--white);
    box-shadow: var(--box-shadow);
    width: 35rem;
    padding: 1rem;
    border-radius: .5rem;
    transition: 0.25s linear;
}

.header .shopping-cart.active{
    right: 2rem;
}
.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    position: relative;
}

.header .shopping-cart .box .fa-trash{
    position: absolute;
    top: 50%;
    right: 2rem;
    font-size: 2rem;
    color: var(--light-black);
    cursor:pointer;
}

.header .shopping-cart .box .fa-trash:hover{
    color: var(--black);
}

.header .shopping-cart .box img {
    height: 10rem;
}

.header .shopping-cart .content h3{
    font-size: 1.7rem;
    color: var(--primary);
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content .price{
    color: var(--light-black);
    font-size: 1.6rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    color: var(--primary);
    text-align: center;
    padding: 1rem 0;
}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin: 1rem 0;
}



/***HEADER FIM***/




/* home */

.home{
    margin-top: 7.0rem;
    min-height: 10vh;
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(img/1.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.home .content{
    max-width: 60rem;
    padding-top: 8rem;
}


.home .content h3{
    font-size: 7rem;
    color: var(--white);
    line-height: 1.2;
    margin-bottom: 2rem;
}


/* home fim */



/* mobile */
/* Estilos para dispositivos móveis em geral */
@media only screen and (max-width: 768px) {
    .header    .navbar{
        display: none;
    }

    .header .shopping-cart {
    width: 23rem;
    padding: .4rem;
    
    }
    .header .shopping-cart .box img {
        height: 9rem;
    }

    .header .shopping-cart .total {
        font-size: 1.5rem;
        padding: 1rem 0;
    }

    .header .shopping-cart .content h3 {
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }
}